

section {
    padding-top: 128px;
    position: relative;
}

section::before {
    content: '';
    z-index: -1;
    font-size: 72px;
    color: gray;
    font-weight: 700;
    opacity: 0.25;
    position: absolute;
    top: 50px;
    left: -30px;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

.home h1 {
    font-size: 72px;
}

.home h3 {
    font-size: 48px;
}

.btn {
    border: 3px solid black;
    border-radius: 24px;
}

.btn:hover, .btn.button.active {
    border: 3px solid black;
    background-color: black;
    color: white;
}

.home img {
    width: 100%;
}

.home .my-arrow img {
    width: 65px;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.my-arrow img {
    animation: 1s upDown infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.my-arrow .more-info {
    animation: 2s flash infinite;
}

.about, .work, .contact {
    margin-top: 40px;
    padding-top: 200px;
}

.about::before {
    content: 'About';
}

.about .about-exp-item {
    margin-top: 32px;
}

.about .about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .about-exp-item-detail {
    display: none;
}

.work::before {
    content: 'Work';
}

.work .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work1 work2" "work3 work3";
    gap: 16px;
}


#work1 {
    grid-area: work1;
}

#work2 {
    grid-area: work2;
}
#work3 {
    grid-area: work3;
}

.work .image img {
    width: 100%;
}

.work .image .image-item {
    position: relative;
}

.work .image .image-item:hover::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work1:hover::after {
    content: 'Web Project';
}

#work2:hover::after {
    content: 'Web Project';
}

#work3:hover::after {
    content: 'Web Project';
}

.contact {
    margin-bottom: 20px;
}
.contact::before {
    content: 'Contact';
}

.contact .contact-form {
    border: 1px solid black;
    padding: 40px 30px;
}

/* laptop */
@media (max-width: 992px) {
    .html {
        font-size: 65%;
    }
}

/* tablet */
@media (max-width: 768px) {
    .home .row img {
        width: 50%;
    }
}

/* handphone */
@media (max-width: 576px) {
    /* .home .row {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center !important;
        transform-origin: center !important;
        width: 100%;
        justify-content: center !important;
        text-align: center;
        text-wrap: nowrap;    
    }

    .home .row .col-4 {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .home .row .potrait {
        width: 20%;
        position: relative;
        left: 12px;
        display: flex;
        justify-content: center;
        transform-origin: center;
        align-items: center;
        line-height: 0;
    }

    .home .row .potrait img {
        width: 500%;
    }

    
    .home .row .col-8 {
        position: relative;
        left: 13px;
    }
    
    .home h3 {
        font-size: 30px;
    }
    
    .contact .row {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }
    
    .contact .row .my-col {
        position: relative;
    }
    */

    section::before {
        left: 10px;
        top: 65px;
    }
    .social-media p {
        margin: 0;
        font-size: 12px;
    }

    .home {
        height: 100vh;
        margin-top: -30px;
    }
    .home h1 {
        font-size: 40px;
    }
}